<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Twitter's mentions</title>
        <meta name="description" content="Wall social" />
        <meta name="keywords" content="wall social" />
        <meta name="author" content="Shahnaz" />
        <link rel="stylesheet" type="text/css" href="http://shanez.ravirajendran.fr/public/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="http://shanez.ravirajendran.fr/public/fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
        <script src="http://shanez.ravirajendran.fr/public/js/modernizr.custom.js"></script>
        <link rel="stylesheet" href="http://shanez.ravirajendran.fr/public/css/style.css">
    </head>
<body>
<div class="container">
      <button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
    <div id="theSidebar" class="sidebar">
        <button class="close-button fa fa-fw fa-close"></button>
        <h1><span>Wall<span> Social</h1>
        <nav class="ws-demos">
            <a class="" href="#">Facebook</a>
            <a class="current-demo" href="#">Twitter</a>
        </nav>
        <div class="related">
            <a href="/profile" class="btn btn-default btn-sm">Mon profil FB et mon actu Twitter</a>
            <a href="/myTwitter" class="btn btn-default btn-sm">Mes Tweets</a>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
    </div>
    <div id="theGrid" class="main">
        <section class="grid">
            <header class="top-bar">
                <h2 class="top-bar__headline">Fil d'actualité</h2>
                <div class="filter">
                    <span>Trier par : </span>
                    <span class="dropdown">Facebook</span>
                    <span class="dropdown">Twitter</span>
                </div>
            </header>
            {% for mtm in mtwdata %}
            <div class="grid__item" href="#">
                <h2 class="title">{{ mtm.user.name }}</h2>
                <div class="loader"></div>
                <span>{{ mtm.text }}</span>
                <div class="meta meta--preview">
                    <img class="meta__avatar" src="{{ mtm.user.profile_image_url }}" alt="author04" />
                </div>
            </div>
            {% endfor %}
        </section>
        <!--Opening the tweet, next version-->
        <section class="content">
            <div class="scroll-wrap">
                <article class="content__item">
                   Pas encore de contenu
                </article>
            </div>
            <button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>
        </section>
        <!--end of Opening the tweet-->
    </div>
</div>
<script src="http://shanez.ravirajendran.fr/public/js/classie.js"></script>
<script src="http://shanez.ravirajendran.fr/public/js/main.js"></script></body>
</html>